doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title} - WesleyTech Store
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='./style.css')
    script(src="./index.js")
    script.
      const params = new URLSearchParams(window.location.search);
      const msg = params.get('msg');
      if (msg) {
          alert(msg);
      } 
  body
    header
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/home') Home
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            if user 
              li.nav-item
                a.nav-link(href=`/home?authToken=${authToken}`) Home
              if user.isAdmin
                li.nav-item
                  a.nav-link(href='/admin/cadastro/produto') Cadastrar Produto
                li.nav-item
                  a.nav-link(href='/admin/cadastroAdmin') Adicionar Administrador
              li.nav-item
                a.nav-link(href='/logout') Sair
            else
              li.nav-item
                a.nav-link(href='/login') Login

    main
      block content
    footer
      .footer.bg-light.text-center.py-3
        p &copy; 2024 WW Loja. Feito por Caio e Julien.

    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    script(src='https://www.gstatic.com/firebasejs/9.6.7/firebase-app-compat.js')
    script(src='https://www.gstatic.com/firebasejs/9.6.7/firebase-admin.js')
